# Ignore C++ build artifacts.

*.o
*.a
*.so
build/


# Ignore CMake artifacts.

CMakeCache.txt
cmake_install.cmake
CMakeFiles/


# Ignore pyenv files.

.python-version


# Ignore Vagrant runtime files.

.vagrant/


# Ignore IDE settings.

.idea/


# Ignore OS metadata files.

.DS_Store
